*{
    box-sizing:border-box;
}

body{
    margin: 0;
}

/*----------------------------------------------NAV----------------------------------------------------------*/ 

.logo{
    display:inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    border: 2px solid black;
    margin-left: 10%;
    margin-right:10%;
}

.menu{
    list-style-type:none;
    float:right;
    margin-right: 20px;

}

li{
    display:inline-block;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    background: rgba(122, 208, 107, 0.82);
    padding: 7px 0px;
    margin-right: 3px;
}

li:hover{
    background:yellowgreen;
}

li a{
    text-decoration: none;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px 5px;
   
}




.conteudop1{
    position: absolute;
    margin-top: 8px;
    margin-left: -3px;
    z-index: 1;
}

.conteudop1 a{
    border: 1px solid yellowgreen;
    background: rgba(122, 208, 107, 0.82);
    border-radius: 4px;
    display:none;
    width: 200px;
    padding: 10px;
}

.conteudop1 a:hover{
    background: yellowgreen;
}

.lproduto1:hover .conteudop1 a{
    display:block;
}
/*----------------------------------------------NAV----------------------------------------------------------*/ 




/*----------------------------------------------HEADER----------------------------------------------------------*/ 

.meio{
    margin-left: 10%;
    margin-right:10%;
    height: 400px;
}

.cont{
    margin-bottom: 35px;
    margin-right: 50%;
}

.contratebotao{
    text-decoration: none;
    color:black;
    background: rgba(122, 208, 107, 0.82);
    padding: 13px;
    border-radius: 5px;
}

.contratebotao:hover{
    padding: 15px;
}

.imagem img{
    width: 300px;
    float:right;
    margin-right: 10%;
    margin-top: -150px;
    opacity: 0.7;
 
}

/*----------------------------------------------HEADER----------------------------------------------------------*/ 

/*----------------------------------------------SECTION----------------------------------------------------------*/ 

.secao{
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid purple;
    text-align: center;
}


.oque2{
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.itens{
   display:inline-block;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 2%;
}

.conteudo{
    border: 2px solid green;
    border-radius: 5px;
    width: 30%;
    padding: 25px;
    margin: 1%;
    text-align: center;
    display:inline-block;
}

.conteudo:hover{
    background: green;
    padding: 30px;
}
/*----------------------------------------------SECTION----------------------------------------------------------*/ 
